In [4]:
import pickle
import pandas as pd

In [5]:
from scripts.flatten_day_batch_pkl import run_batch_flatten
from utils.clean_flattened_df import clean_flattened_dataframe
from utils.add_embedding_indices import add_embedding_indices
from utils.process_text_fields import process_text_fields
from utils.process_text_fields import extract_race_phrases
from utils.embedding_io import save_embeddings_npz
from utils.save_model_ready_df import save_model_ready_pickle

In [6]:
input_raw_path = 'data/raw/'
output_df_path = 'data/processed/model_ready_flat.pkl'
output_npz_path = 'data/processed/text_embeddings.npz'

FIND ALL JSONS TO BATCH-PROCESS IN 'data/raw/' THEM FLATTEN AND MERGE THEM.

In [7]:
# Run flatten/merge module.
run_batch_flatten()

[INFO] 2025-03-28T04-59.json: 362 runners processed
        Valid horse IDs: 360/362
        class_num present: 277/362
[INFO] 2025-03-26T08-58.json: 296 runners processed
        Valid horse IDs: 295/296
        class_num present: 163/296
[INFO] 2025-03-27T07-37.json: 387 runners processed
        Valid horse IDs: 383/387
        class_num present: 256/387
[INFO] 2025-03-29T04-58.json: 659 runners processed
        Valid horse IDs: 653/659
        class_num present: 561/659
[SUCCESS] Flattened 1704 runners from 4 files
[✓] CSV saved to data/processed/2025-03-31T17-22.csv
[✓] Pickle saved to data/processed/2025-03-31T17-22.pkl

In [8]:
# Create a new datafrmae from the saved .pkl file.
new_df = pd.read_pickle('data/processed/2025-03-31T15-59.pkl')

In [9]:
# Analyse column attributes prior to cleaning
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 59 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1704 non-null   object
 1   horse_id_valid           1704 non-null   int64
 2   course                   1704 non-null   object
 3   country                  1704 non-null   object
 4   going                    1704 non-null   object
 5   GoingStick               0 non-null      object
 6   distance_f               1704 non-null   float64
 7   field_size               1704 non-null   int64
 8   race_class               1704 non-null   object
 9   class_num                1257 non-null   float64
 10  class_label              1257 non-null   object
 11  type                     1704 non-null   object
 12  name                     1704 non-null   object
 13  draw                     1590 non-null   float64
 14  age                      1704 non-null   int64
 15  sex                      1704 non-null   object
 16  or                       1158 non-null   float64
 17  rpr                      1447 non-null   float64
 18  ts                       1040 non-null   float64
 19  lbs                      1704 non-null   int64
 20  headgear                 1704 non-null   object
 21  last_run                 1704 non-null   object
 22  form                     1704 non-null   object
 23  trainer_id               1704 non-null   object
 24  trainer_ovr_runs         1655 non-null   object
 25  trainer_ovr_wins         1655 non-null   object
 26  trainer_ovr_win_pct      1607 non-null   float64
 27  trainer_ovr_profit       1655 non-null   float64
 28  trainer_last_14_runs     1655 non-null   object
 29  trainer_last_14_wins     1655 non-null   object
 30  trainer_last_14_win_pct  1429 non-null   float64
 31  trainer_last_14_profit   1655 non-null   float64
 32  jockey_id                1704 non-null   object
 33  jockey_ovr_runs          1655 non-null   object
 34  jockey_ovr_wins          1655 non-null   object
 35  jockey_ovr_win_pct       1617 non-null   float64
 36  jockey_ovr_profit        1655 non-null   float64
 37  jockey_last_14_runs      1655 non-null   object
 38  jockey_last_14_wins      1655 non-null   object
 39  jockey_last_14_win_pct   1544 non-null   float64
 40  jockey_last_14_profit    1655 non-null   float64
 41  comment                  1549 non-null   object
 42  spotlight                1624 non-null   object
 43  num_prev_trainers        1704 non-null   int64
 44  num_prev_owners          1704 non-null   int64
 45  rpr_rank                 1447 non-null   float64
 46  or_rank                  1158 non-null   float64
 47  rpr_zscore               1497 non-null   float64
 48  or_zscore                1579 non-null   float64
 49  race_id                  1704 non-null   int64
 50  off_time                 1704 non-null   object
 51  venue                    1704 non-null   object
 52  race_datetime            1704 non-null   object
 53  has_GoingStick           1704 non-null   int64
 54  has_form                 1704 non-null   int64
 55  has_comment              1704 non-null   int64
 56  has_spotlight            1704 non-null   int64
 57  has_headgear             1704 non-null   int64
 58  non_runner_flag          1704 non-null   bool
dtypes: bool(1), float64(18), int64(12), object(28)
memory usage: 773.9+ KB

CLEAN AND OPTIMIZE DATAFRAME

Run to apply:

Type conversions
Datetime parsing
Category encoding
Dropping the useless GoingStick column

In [10]:
df_clean = clean_flattened_dataframe(new_df)

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1704 non-null   object
 1   horse_id_valid           1704 non-null   int64
 2   course                   1704 non-null   object
 3   country                  1704 non-null   category
 4   going                    1704 non-null   category
 5   distance_f               1704 non-null   float64
 6   field_size               1704 non-null   int64
 7   race_class               1704 non-null   category
 8   class_num                1257 non-null   float64
 9   class_label              1257 non-null   category
 10  type                     1704 non-null   category
 11  name                     1704 non-null   object
 12  draw                     1590 non-null   float64
 13  age                      1704 non-null   int64
 14  sex                      1704 non-null   category
 15  or                       1158 non-null   float64
 16  rpr                      1447 non-null   float64
 17  ts                       1040 non-null   float64
 18  lbs                      1704 non-null   int64
 19  headgear                 1704 non-null   category
 20  last_run                 1704 non-null   object
 21  form                     1704 non-null   object
 22  trainer_id               1704 non-null   object
 23  trainer_ovr_runs         1655 non-null   float64
 24  trainer_ovr_wins         1655 non-null   float64
 25  trainer_ovr_win_pct      1607 non-null   float64
 26  trainer_ovr_profit       1655 non-null   float64
 27  trainer_last_14_runs     1655 non-null   float64
 28  trainer_last_14_wins     1655 non-null   float64
 29  trainer_last_14_win_pct  1429 non-null   float64
 30  trainer_last_14_profit   1655 non-null   float64
 31  jockey_id                1704 non-null   object
 32  jockey_ovr_runs          1655 non-null   float64
 33  jockey_ovr_wins          1655 non-null   float64
 34  jockey_ovr_win_pct       1617 non-null   float64
 35  jockey_ovr_profit        1655 non-null   float64
 36  jockey_last_14_runs      1655 non-null   float64
 37  jockey_last_14_wins      1655 non-null   float64
 38  jockey_last_14_win_pct   1544 non-null   float64
 39  jockey_last_14_profit    1655 non-null   float64
 40  comment                  1549 non-null   object
 41  spotlight                1624 non-null   object
 42  num_prev_trainers        1704 non-null   int64
 43  num_prev_owners          1704 non-null   int64
 44  rpr_rank                 1447 non-null   float64
 45  or_rank                  1158 non-null   float64
 46  rpr_zscore               1497 non-null   float64
 47  or_zscore                1579 non-null   float64
 48  race_id                  1704 non-null   int64
 49  off_time                 1704 non-null   object
 50  venue                    1704 non-null   category
 51  race_datetime            1704 non-null   datetime64[ns]
 52  has_GoingStick           1704 non-null   int64
 53  has_form                 1704 non-null   int64
 54  has_comment              1704 non-null   int64
 55  has_spotlight            1704 non-null   int64
 56  has_headgear             1704 non-null   int64
 57  non_runner_flag          1704 non-null   bool
dtypes: bool(1), category(8), datetime64[ns](1), float64(26), int64(12), object(10)
memory usage: 670.9+ KB

We now have:

- Optimized category types for embeddings
- race_datetime as datetime64[ns]
- Clean float/int structure
- Useless GoingStick removed
- Flags like has_GoingStick intact in case we reintroduce 'Goingstick' later

ADD EMBEDDING INDICES.

We'll convert categorical fields into *_idx integer columns using LabelEncoder, for transformer ingestion.  This will:

- Label encode key categorical fields (country, going, sex, etc.)
- Add *_idx columns for transformer embedding layers
- Return a dictionary of LabelEncoder objects (encoders) you can save or inspect

In [12]:
df_indexed, encoders = add_embedding_indices(df_clean)

In [13]:
# This will give you a preview of the new integer columns like:
# country_idx, going_idx, venue_idx, etc.
df_indexed.filter(like='_idx').head()

,country_idx,going_idx,sex_idx,type_idx,class_label_idx,headgear_idx,race_class_idx,venue_idx
0,4,4,2,1,1,11,0,4
1,4,4,2,1,1,0,0,4
2,4,4,2,1,1,16,0,4
3,4,4,2,1,1,0,0,4
4,4,4,1,1,1,4,0,4

In [14]:
df_indexed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 66 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1704 non-null   object
 1   horse_id_valid           1704 non-null   int64
 2   course                   1704 non-null   object
 3   country                  1704 non-null   category
 4   going                    1704 non-null   category
 5   distance_f               1704 non-null   float64
 6   field_size               1704 non-null   int64
 7   race_class               1704 non-null   category
 8   class_num                1257 non-null   float64
 9   class_label              1257 non-null   category
 10  type                     1704 non-null   category
 11  name                     1704 non-null   object
 12  draw                     1590 non-null   float64
 13  age                      1704 non-null   int64
 14  sex                      1704 non-null   category
 15  or                       1158 non-null   float64
 16  rpr                      1447 non-null   float64
 17  ts                       1040 non-null   float64
 18  lbs                      1704 non-null   int64
 19  headgear                 1704 non-null   category
 20  last_run                 1704 non-null   object
 21  form                     1704 non-null   object
 22  trainer_id               1704 non-null   object
 23  trainer_ovr_runs         1655 non-null   float64
 24  trainer_ovr_wins         1655 non-null   float64
 25  trainer_ovr_win_pct      1607 non-null   float64
 26  trainer_ovr_profit       1655 non-null   float64
 27  trainer_last_14_runs     1655 non-null   float64
 28  trainer_last_14_wins     1655 non-null   float64
 29  trainer_last_14_win_pct  1429 non-null   float64
 30  trainer_last_14_profit   1655 non-null   float64
 31  jockey_id                1704 non-null   object
 32  jockey_ovr_runs          1655 non-null   float64
 33  jockey_ovr_wins          1655 non-null   float64
 34  jockey_ovr_win_pct       1617 non-null   float64
 35  jockey_ovr_profit        1655 non-null   float64
 36  jockey_last_14_runs      1655 non-null   float64
 37  jockey_last_14_wins      1655 non-null   float64
 38  jockey_last_14_win_pct   1544 non-null   float64
 39  jockey_last_14_profit    1655 non-null   float64
 40  comment                  1549 non-null   object
 41  spotlight                1624 non-null   object
 42  num_prev_trainers        1704 non-null   int64
 43  num_prev_owners          1704 non-null   int64
 44  rpr_rank                 1447 non-null   float64
 45  or_rank                  1158 non-null   float64
 46  rpr_zscore               1497 non-null   float64
 47  or_zscore                1579 non-null   float64
 48  race_id                  1704 non-null   int64
 49  off_time                 1704 non-null   object
 50  venue                    1704 non-null   category
 51  race_datetime            1704 non-null   datetime64[ns]
 52  has_GoingStick           1704 non-null   int64
 53  has_form                 1704 non-null   int64
 54  has_comment              1704 non-null   int64
 55  has_spotlight            1704 non-null   int64
 56  has_headgear             1704 non-null   int64
 57  non_runner_flag          1704 non-null   bool
 58  country_idx              1704 non-null   int64
 59  going_idx                1704 non-null   int64
 60  sex_idx                  1704 non-null   int64
 61  type_idx                 1704 non-null   int64
 62  class_label_idx          1704 non-null   int64
 63  headgear_idx             1704 non-null   int64
 64  race_class_idx           1704 non-null   int64
 65  venue_idx                1704 non-null   int64
dtypes: bool(1), category(8), datetime64[ns](1), float64(26), int64(20), object(10)
memory usage: 777.4+ KB

In [15]:
encoders

{'country': LabelEncoder(),
 'going': LabelEncoder(),
 'sex': LabelEncoder(),
 'type': LabelEncoder(),
 'class_label': LabelEncoder(),
 'headgear': LabelEncoder(),
 'race_class': LabelEncoder(),
 'venue': LabelEncoder()}

In [16]:
# Save encoders
import joblib
joblib.dump(encoders, 'data/processed/embedding_encoders_2025-03-31.pkl')

['data/processed/embedding_encoders_2025-03-31.pkl']

NLP EMBEDDING + REGEX STEP

We'll get:

- comment_vector, spotlight_vector as np.array-per-row
- 30+ binary NLP features (e.g., mentions_ground_form_comment)
- embeddings_dict: raw numpy blocks ((1704, 384) each)
- regex_features: the list of all new NLP flag columns

In [17]:
df_nlp, embeddings_dict, regex_features = process_text_fields(
    df_indexed,
    fields=["comment", "spotlight"],
    enable_regex=True
)

Embedding field: comment

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

Embedding field: spotlight

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

In [20]:
df_nlp.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 102 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    horse_id                                  object
 1    horse_id_valid                            int64
 2    course                                    object
 3    country                                   category
 4    going                                     category
 5    distance_f                                float64
 6    field_size                                int64
 7    race_class                                category
 8    class_num                                 float64
 9    class_label                               category
 10   type                                      category
 11   name                                      object
 12   draw                                      float64
 13   age                                       int64
 14   sex                                       category
 15   or                                        float64
 16   rpr                                       float64
 17   ts                                        float64
 18   lbs                                       int64
 19   headgear                                  category
 20   last_run                                  object
 21   form                                      object
 22   trainer_id                                object
 23   trainer_ovr_runs                          float64
 24   trainer_ovr_wins                          float64
 25   trainer_ovr_win_pct                       float64
 26   trainer_ovr_profit                        float64
 27   trainer_last_14_runs                      float64
 28   trainer_last_14_wins                      float64
 29   trainer_last_14_win_pct                   float64
 30   trainer_last_14_profit                    float64
 31   jockey_id                                 object
 32   jockey_ovr_runs                           float64
 33   jockey_ovr_wins                           float64
 34   jockey_ovr_win_pct                        float64
 35   jockey_ovr_profit                         float64
 36   jockey_last_14_runs                       float64
 37   jockey_last_14_wins                       float64
 38   jockey_last_14_win_pct                    float64
 39   jockey_last_14_profit                     float64
 40   comment                                   object
 41   spotlight                                 object
 42   num_prev_trainers                         int64
 43   num_prev_owners                           int64
 44   rpr_rank                                  float64
 45   or_rank                                   float64
 46   rpr_zscore                                float64
 47   or_zscore                                 float64
 48   race_id                                   int64
 49   off_time                                  object
 50   venue                                     category
 51   race_datetime                             datetime64[ns]
 52   has_GoingStick                            int64
 53   has_form                                  int64
 54   has_comment                               int64
 55   has_spotlight                             int64
 56   has_headgear                              int64
 57   non_runner_flag                           bool
 58   country_idx                               int64
 59   going_idx                                 int64
 60   sex_idx                                   int64
 61   type_idx                                  int64
 62   class_label_idx                           int64
 63   headgear_idx                              int64
 64   race_class_idx                            int64
 65   venue_idx                                 int64
 66   comment_vector                            object
 67   spotlight_vector                          object
 68   mentions_course_win_comment               int64
 69   mentions_course_win_spotlight             int64
 70   mentions_trip_change_comment              int64
 71   mentions_trip_change_spotlight            int64
 72   mentions_surface_comment                  int64
 73   mentions_surface_spotlight                int64
 74   mentions_front_runner_comment             int64
 75   mentions_front_runner_spotlight           int64
 76   mentions_layoff_comment                   int64
 77   mentions_layoff_spotlight                 int64
 78   mentions_first_time_headgear_comment      int64
 79   mentions_first_time_headgear_spotlight    int64
 80   mentions_class_drop_comment               int64
 81   mentions_class_drop_spotlight             int64
 82   mentions_class_rise_comment               int64
 83   mentions_class_rise_spotlight             int64
 84   mentions_course_form_comment              int64
 85   mentions_course_form_spotlight            int64
 86   mentions_distance_form_comment            int64
 87   mentions_distance_form_spotlight          int64
 88   mentions_ground_form_comment              int64
 89   mentions_ground_form_spotlight            int64
 90   mentions_classy_rival_comment             int64
 91   mentions_classy_rival_spotlight           int64
 92   mentions_fitness_query_comment            int64
 93   mentions_fitness_query_spotlight          int64
 94   mentions_positive_trainer_note_comment    int64
 95   mentions_positive_trainer_note_spotlight  int64
 96   mentions_jockey_combo_comment             int64
 97   mentions_jockey_combo_spotlight           int64
 98   mentions_improver_flag_comment            int64
 99   mentions_improver_flag_spotlight          int64
 100  mentions_loser_flag_comment               int64
 101  mentions_loser_flag_spotlight             int64
dtypes: bool(1), category(8), datetime64[ns](1), float64(26), int64(54), object(12)
memory usage: 1.2+ MB

In [28]:
# Save the embeddings.
save_embeddings_npz(
    embeddings_dict,
    'data/processed/text_embeddings_2025-03-31.npz'
)

[✓] Saved 2 embedding blocks to data/processed/text_embeddings_2025-03-31.npz

In [30]:
# To load embeddings later.
from utils.embedding_io import load_embeddings_npz
# Optional; validate shape.
expected = {"comment": (1704, 384), "spotlight": (1704, 384)}
embeddings = load_embeddings_npz(
    "data/processed/text_embeddings_2025-03-31.npz",
    expected_schema=expected
)

[✓] Loaded 2 embedding blocks from data/processed/text_embeddings_2025-03-31.npz
[✓] Schema validation passed.

In [21]:
df_nlp.head(10)

,horse_id,horse_id_valid,course,country,going,distance_f,field_size,race_class,class_num,class_label,...,mentions_fitness_query_comment,mentions_fitness_query_spotlight,mentions_positive_trainer_note_comment,mentions_positive_trainer_note_spotlight,mentions_jockey_combo_comment,mentions_jockey_combo_spotlight,mentions_improver_flag_comment,mentions_improver_flag_spotlight,mentions_loser_flag_comment,mentions_loser_flag_spotlight
0,3679956,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,5148102,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2455830,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,5301548,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,5021592,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5,5329156,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
6,3279638,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,2645561,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,4274148,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
9,5237784,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

SAVE PICKLE FILE OF MODEL-READY DATASET + .CSV FOR CHATGPT.

In [33]:
df_nlp.to_pickle("data/processed/model_ready_2025-03-31.pkl")
df_nlp.to_csv("data/processed/model_ready_2025-03-31.csv", index=False)

In [ ]:
MISCELLANEOUS VALIDATION

In [25]:
# We have had issues with trainer/jockey stats not populating correctly.
trainer_cols = [col for col in df_nlp.columns if col.startswith("trainer_")]
jockey_cols = [col for col in df_nlp.columns if col.startswith("jockey_")]

df_nlp[trainer_cols + jockey_cols].isna().sum()

trainer_id                   0
trainer_ovr_runs            49
trainer_ovr_wins            49
trainer_ovr_win_pct         97
trainer_ovr_profit          49
trainer_last_14_runs        49
trainer_last_14_wins        49
trainer_last_14_win_pct    275
trainer_last_14_profit      49
jockey_id                    0
jockey_ovr_runs             49
jockey_ovr_wins             49
jockey_ovr_win_pct          87
jockey_ovr_profit           49
jockey_last_14_runs         49
jockey_last_14_wins         49
jockey_last_14_win_pct     160
jockey_last_14_profit       49
dtype: int64

In [26]:
# We to a sanity check to see if both these below return zero.
trainer_issues = df_nlp[
    (df_nlp['trainer_ovr_runs'] > 0) &
    (df_nlp['trainer_ovr_win_pct'].isna())
]
print(f"Trainer win % missing despite having runs: {len(trainer_issues)}")

jockey_issues = df_nlp[
    (df_nlp['jockey_ovr_runs'] > 0) &
    (df_nlp['jockey_ovr_win_pct'].isna())
]
print(f"Jockey win % missing despite having runs: {len(jockey_issues)}")

Trainer win % missing despite having runs: 0
Jockey win % missing despite having runs: 0