In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import json

In [2]:
import sys
# Add the full path to your 'scripts' folder where flatten_day.py lives
scripts_path = Path("../tracktempo/scripts").resolve()  # or "./scripts" if already in the right location
sys.path.append(str(scripts_path))

1. MERGE AND FLATTEN JSON SCRAPES

In [3]:
from pathlib import Path

raw_dir = Path("./data/raw")
json_files = list(raw_dir.glob("*.json"))

print(f"Found {len(json_files)} JSON files:")
for f in sorted(json_files):
    print(" -", f.name)

Found 4 JSON files:
 - 2025-03-26T08-58.json
 - 2025-03-27T07-37.json
 - 2025-03-28T04-59.json
 - 2025-03-29T04-58.json

In [8]:
from flatten_day_batch_pkl import run_batch_flatten

In [9]:
run_batch_flatten()

[INFO] 2025-03-28T04-59.json: 362 runners processed
        Valid horse IDs: 360/362
        class_num present: 277/362
[INFO] 2025-03-26T08-58.json: 296 runners processed
        Valid horse IDs: 295/296
        class_num present: 163/296
[INFO] 2025-03-27T07-37.json: 387 runners processed
        Valid horse IDs: 383/387
        class_num present: 256/387
[INFO] 2025-03-29T04-58.json: 659 runners processed
        Valid horse IDs: 653/659
        class_num present: 561/659
[SUCCESS] Flattened 1704 runners from 4 files
[✓] CSV saved to data/processed/2025-03-30T20-19.csv
[✓] Pickle saved to data/processed/2025-03-30T20-19.pkl

In [11]:
import pickle

In [14]:
df = pd.read_pickle('data/processed/2025-03-30T20-19.pkl')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 59 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1704 non-null   object
 1   horse_id_valid           1704 non-null   int64
 2   course                   1704 non-null   object
 3   country                  1704 non-null   object
 4   going                    1704 non-null   object
 5   GoingStick               0 non-null      object
 6   distance_f               1704 non-null   float64
 7   field_size               1704 non-null   int64
 8   race_class               1704 non-null   object
 9   class_num                1257 non-null   float64
 10  class_label              1257 non-null   object
 11  type                     1704 non-null   object
 12  name                     1704 non-null   object
 13  draw                     1590 non-null   float64
 14  age                      1704 non-null   int64
 15  sex                      1704 non-null   object
 16  or                       1158 non-null   float64
 17  rpr                      1447 non-null   float64
 18  ts                       1040 non-null   float64
 19  lbs                      1704 non-null   int64
 20  headgear                 1704 non-null   object
 21  last_run                 1704 non-null   object
 22  form                     1704 non-null   object
 23  trainer_id               1704 non-null   object
 24  trainer_ovr_runs         1655 non-null   object
 25  trainer_ovr_wins         1655 non-null   object
 26  trainer_ovr_win_pct      1607 non-null   float64
 27  trainer_ovr_profit       1655 non-null   float64
 28  trainer_last_14_runs     1655 non-null   object
 29  trainer_last_14_wins     1655 non-null   object
 30  trainer_last_14_win_pct  1429 non-null   float64
 31  trainer_last_14_profit   1655 non-null   float64
 32  jockey_id                1704 non-null   object
 33  jockey_ovr_runs          1655 non-null   object
 34  jockey_ovr_wins          1655 non-null   object
 35  jockey_ovr_win_pct       1617 non-null   float64
 36  jockey_ovr_profit        1655 non-null   float64
 37  jockey_last_14_runs      1655 non-null   object
 38  jockey_last_14_wins      1655 non-null   object
 39  jockey_last_14_win_pct   1544 non-null   float64
 40  jockey_last_14_profit    1655 non-null   float64
 41  comment                  1549 non-null   object
 42  spotlight                1624 non-null   object
 43  num_prev_trainers        1704 non-null   int64
 44  num_prev_owners          1704 non-null   int64
 45  rpr_rank                 1447 non-null   float64
 46  or_rank                  1158 non-null   float64
 47  rpr_zscore               1497 non-null   float64
 48  or_zscore                1579 non-null   float64
 49  race_id                  1704 non-null   int64
 50  off_time                 1704 non-null   object
 51  venue                    1704 non-null   object
 52  race_datetime            1704 non-null   object
 53  has_GoingStick           1704 non-null   int64
 54  has_form                 1704 non-null   int64
 55  has_comment              1704 non-null   int64
 56  has_spotlight            1704 non-null   int64
 57  has_headgear             1704 non-null   int64
 58  non_runner_flag          1704 non-null   bool
dtypes: bool(1), float64(18), int64(12), object(28)
memory usage: 773.9+ KB

2. CLEAN FLATTENED DATAFRAME

In [22]:
# Add scripts directory to path
sys.path.append("./utils")  # Adjust if needed

from clean_flattened_df import clean_flattened_dataframe

In [23]:
clean_flattened_dataframe(df)

,horse_id,horse_id_valid,course,country,going,distance_f,field_size,race_class,class_num,class_label,...,race_id,off_time,venue,race_datetime,has_GoingStick,has_form,has_comment,has_spotlight,has_headgear,non_runner_flag
0,3679956,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,891228,5:30,Dundalk (AW),2025-03-28 05:30:00,0,1,1,1,1,False
1,5148102,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,891228,5:30,Dundalk (AW),2025-03-28 05:30:00,0,1,1,1,0,False
2,2455830,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,891228,5:30,Dundalk (AW),2025-03-28 05:30:00,0,1,1,1,1,False
3,5301548,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,891228,5:30,Dundalk (AW),2025-03-28 05:30:00,0,1,1,1,0,False
4,5021592,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,891228,5:30,Dundalk (AW),2025-03-28 05:30:00,0,1,1,1,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,7143671,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,891887,3:37,Trentham,2025-03-29 03:37:00,0,1,0,0,1,False
1700,7272426,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,891887,3:37,Trentham,2025-03-29 03:37:00,0,1,0,0,0,False
1701,7041996,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,891887,3:37,Trentham,2025-03-29 03:37:00,0,1,0,0,0,False
1702,7263124,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,891887,3:37,Trentham,2025-03-29 03:37:00,0,1,0,0,0,False
1703,7334587,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,891887,3:37,Trentham,2025-03-29 03:37:00,0,1,0,0,1,False

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1704 non-null   object
 1   horse_id_valid           1704 non-null   int64
 2   course                   1704 non-null   object
 3   country                  1704 non-null   category
 4   going                    1704 non-null   category
 5   distance_f               1704 non-null   float64
 6   field_size               1704 non-null   int64
 7   race_class               1704 non-null   category
 8   class_num                1257 non-null   float64
 9   class_label              1257 non-null   category
 10  type                     1704 non-null   category
 11  name                     1704 non-null   object
 12  draw                     1590 non-null   float64
 13  age                      1704 non-null   int64
 14  sex                      1704 non-null   category
 15  or                       1158 non-null   float64
 16  rpr                      1447 non-null   float64
 17  ts                       1040 non-null   float64
 18  lbs                      1704 non-null   int64
 19  headgear                 1704 non-null   category
 20  last_run                 1704 non-null   object
 21  form                     1704 non-null   object
 22  trainer_id               1704 non-null   object
 23  trainer_ovr_runs         1655 non-null   float64
 24  trainer_ovr_wins         1655 non-null   float64
 25  trainer_ovr_win_pct      1607 non-null   float64
 26  trainer_ovr_profit       1655 non-null   float64
 27  trainer_last_14_runs     1655 non-null   float64
 28  trainer_last_14_wins     1655 non-null   float64
 29  trainer_last_14_win_pct  1429 non-null   float64
 30  trainer_last_14_profit   1655 non-null   float64
 31  jockey_id                1704 non-null   object
 32  jockey_ovr_runs          1655 non-null   float64
 33  jockey_ovr_wins          1655 non-null   float64
 34  jockey_ovr_win_pct       1617 non-null   float64
 35  jockey_ovr_profit        1655 non-null   float64
 36  jockey_last_14_runs      1655 non-null   float64
 37  jockey_last_14_wins      1655 non-null   float64
 38  jockey_last_14_win_pct   1544 non-null   float64
 39  jockey_last_14_profit    1655 non-null   float64
 40  comment                  1549 non-null   object
 41  spotlight                1624 non-null   object
 42  num_prev_trainers        1704 non-null   int64
 43  num_prev_owners          1704 non-null   int64
 44  rpr_rank                 1447 non-null   float64
 45  or_rank                  1158 non-null   float64
 46  rpr_zscore               1497 non-null   float64
 47  or_zscore                1579 non-null   float64
 48  race_id                  1704 non-null   int64
 49  off_time                 1704 non-null   object
 50  venue                    1704 non-null   category
 51  race_datetime            1704 non-null   datetime64[ns]
 52  has_GoingStick           1704 non-null   int64
 53  has_form                 1704 non-null   int64
 54  has_comment              1704 non-null   int64
 55  has_spotlight            1704 non-null   int64
 56  has_headgear             1704 non-null   int64
 57  non_runner_flag          1704 non-null   bool
dtypes: bool(1), category(8), datetime64[ns](1), float64(26), int64(12), object(10)
memory usage: 670.9+ KB

In [32]:
# Sanity check after clean.
df.sample(5)[["name", "race_datetime", "draw", "or", "rpr"]]

               name       race_datetime  draw     or    rpr
215       Kingmaker 2025-03-28 06:15:00   9.0    NaN   71.0
1366       The Wolf 2025-03-29 03:05:00   0.0  130.0  141.0
341      Mondouiboy 2025-03-28 05:50:00   0.0    NaN  123.0
1011  Star Official 2025-03-27 05:15:00   NaN   99.0  101.0
1259           Myal 2025-03-29 01:50:00  10.0   90.0  102.0

3. PROCESS TEXT FIELDS (NLP/NER).

In [40]:
from process_text_fields import process_text_fields
df_text_processed = process_text_fields(df, fields=["comment", "spotlight"])

Embedding field: comment

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

Embedding field: spotlight

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)

In [41]:
df_text_processed

(     horse_id  horse_id_valid        course country     going  distance_f  \
 0     3679956               1  Dundalk (AW)     IRE  Standard         7.0
 1     5148102               1  Dundalk (AW)     IRE  Standard         7.0
 2     2455830               1  Dundalk (AW)     IRE  Standard         7.0
 3     5301548               1  Dundalk (AW)     IRE  Standard         7.0
 4     5021592               1  Dundalk (AW)     IRE  Standard         7.0
 ...       ...             ...           ...     ...       ...         ...
 1699  7143671               1      Trentham      NZ      Soft         7.0
 1700  7272426               1      Trentham      NZ      Soft         7.0
 1701  7041996               1      Trentham      NZ      Soft         7.0
 1702  7263124               1      Trentham      NZ      Soft         7.0
 1703  7334587               1      Trentham      NZ      Soft         7.0

       field_size race_class  class_num class_label  ...  \
 0             11                   NaN         NaN  ...
 1             11                   NaN         NaN  ...
 2             11                   NaN         NaN  ...
 3             11                   NaN         NaN  ...
 4             11                   NaN         NaN  ...
 ...          ...        ...        ...         ...  ...
 1699          13    Class 1        1.0    Handicap  ...
 1700          13    Class 1        1.0    Handicap  ...
 1701          13    Class 1        1.0    Handicap  ...
 1702          13    Class 1        1.0    Handicap  ...
 1703          13    Class 1        1.0    Handicap  ...

      mentions_fitness_query_comment mentions_fitness_query_spotlight  \
 0                                 0                                0
 1                                 0                                0
 2                                 0                                0
 3                                 0                                0
 4                                 0                                0
 ...                             ...                              ...
 1699                              0                                0
 1700                              0                                0
 1701                              0                                0
 1702                              0                                0
 1703                              0                                0

       mentions_positive_trainer_note_comment  \
 0                                          0
 1                                          0
 2                                          0
 3                                          0
 4                                          0
 ...                                      ...
 1699                                       0
 1700                                       0
 1701                                       0
 1702                                       0
 1703                                       0

       mentions_positive_trainer_note_spotlight mentions_jockey_combo_comment  \
 0                                            0                             0
 1                                            0                             0
 2                                            0                             0
 3                                            0                             0
 4                                            0                             0
 ...                                        ...                           ...
 1699                                         0                             0
 1700                                         0                             0
 1701                                         0                             0
 1702                                         0                             0
 1703                                         0                             0

       mentions_jockey_combo_spotlight  mentions_improver_flag_comment  \
 0                                   0                               0
 1                                   0                               0
 2                                   0                               0
 3                                   0                               0
 4                                   0                               0
 ...                               ...                             ...
 1699                                0                               0
 1700                                0                               0
 1701                                0                               0
 1702                                0                               0
 1703                                0                               0

       mentions_improver_flag_spotlight  mentions_loser_flag_comment  \
 0                                    0                            0
 1                                    0                            0
 2                                    0                            0
 3                                    0                            0
 4                                    0                            0
 ...                                ...                          ...
 1699                                 0                            0
 1700                                 0                            0
 1701                                 0                            0
 1702                                 0                            0
 1703                                 0                            0

      mentions_loser_flag_spotlight
 0                                0
 1                                0
 2                                0
 3                                0
 4                                0
 ...                            ...
 1699                             0
 1700                             0
 1701                             0
 1702                             0
 1703                             0

 [1704 rows x 94 columns],
 {'comment': array([[ 0.03133678,  0.03365152,  0.06766345, ..., -0.13714516,
          -0.03089746,  0.06972773],
         [ 0.03379953,  0.02595883, -0.02190259, ..., -0.13598587,
          -0.10856746,  0.02687954],
         [-0.09255484, -0.05702418,  0.02727281, ..., -0.07277662,
          -0.05248653,  0.07360259],
         ...,
         [-0.11883838,  0.04829867, -0.00254807, ...,  0.12640949,
           0.04654901, -0.01571727],
         [-0.11883838,  0.04829867, -0.00254807, ...,  0.12640949,
           0.04654901, -0.01571727],
         [-0.11883838,  0.04829867, -0.00254805, ...,  0.12640947,
           0.04654901, -0.01571732]], shape=(1704, 384), dtype=float32),
  'spotlight': array([[-0.03970722,  0.0489323 ,  0.06509631, ..., -0.18871097,
          -0.03128913,  0.11363307],
         [-0.00652557,  0.05944115, -0.02728917, ..., -0.14182508,
          -0.07353929,  0.12744209],
         [ 0.03934399, -0.01692162, -0.00124267, ..., -0.10432322,
          -0.03111275,  0.08254965],
         ...,
         [-0.11883838,  0.04829867, -0.00254805, ...,  0.12640947,
           0.04654901, -0.01571732],
         [-0.11883838,  0.04829867, -0.00254807, ...,  0.12640949,
           0.04654901, -0.01571727],
         [-0.11883838,  0.04829867, -0.00254805, ...,  0.12640947,
           0.04654901, -0.01571732]], shape=(1704, 384), dtype=float32)},
 ['mentions_course_win_comment',
  'mentions_course_win_spotlight',
  'mentions_trip_change_comment',
  'mentions_trip_change_spotlight',
  'mentions_surface_comment',
  'mentions_surface_spotlight',
  'mentions_front_runner_comment',
  'mentions_front_runner_spotlight',
  'mentions_layoff_comment',
  'mentions_layoff_spotlight',
  'mentions_first_time_headgear_comment',
  'mentions_first_time_headgear_spotlight',
  'mentions_class_drop_comment',
  'mentions_class_drop_spotlight',
  'mentions_class_rise_comment',
  'mentions_class_rise_spotlight',
  'mentions_course_form_comment',
  'mentions_course_form_spotlight',
  'mentions_distance_form_comment',
  'mentions_distance_form_spotlight',
  'mentions_ground_form_comment',
  'mentions_ground_form_spotlight',
  'mentions_classy_rival_comment',
  'mentions_classy_rival_spotlight',
  'mentions_fitness_query_comment',
  'mentions_fitness_query_spotlight',
  'mentions_positive_trainer_note_comment',
  'mentions_positive_trainer_note_spotlight',
  'mentions_jockey_combo_comment',
  'mentions_jockey_combo_spotlight',
  'mentions_improver_flag_comment',
  'mentions_improver_flag_spotlight',
  'mentions_loser_flag_comment',
  'mentions_loser_flag_spotlight'])

In [52]:
df_text_processed, _, _ = process_text_fields(df, fields=["comment", "spotlight"], enable_regex=True)

Embedding field: comment

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

Embedding field: spotlight

Batches:   0%|          | 0/54 [00:00<?, ?it/s]

/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)
/home/liamebs/my_python_files/horses/rpscrape/tracktempo/./utils/process_text_fields.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[col_name] = df[field].str.contains(pattern, flags=re.IGNORECASE, na=False).astype(int)

SAVE MODEL_READY DATAFRAME.

In [54]:
df_text_processed.to_pickle('./data/processed/model_ready_test_pipeline_2025-03-30T21:12.pkl')

In [55]:
df_text_processed

,horse_id,horse_id_valid,course,country,going,distance_f,field_size,race_class,class_num,class_label,...,mentions_fitness_query_comment,mentions_fitness_query_spotlight,mentions_positive_trainer_note_comment,mentions_positive_trainer_note_spotlight,mentions_jockey_combo_comment,mentions_jockey_combo_spotlight,mentions_improver_flag_comment,mentions_improver_flag_spotlight,mentions_loser_flag_comment,mentions_loser_flag_spotlight
0,3679956,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,5148102,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2455830,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,5301548,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,5021592,1,Dundalk (AW),IRE,Standard,7.0,11,,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,7143671,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,0,0,0,0,0,0,0,0,0,0
1700,7272426,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,0,0,0,0,0,0,0,0,0,0
1701,7041996,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,0,0,0,0,0,0,0,0,0,0
1702,7263124,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,0,0,0,0,0,0,0,0,0,0
1703,7334587,1,Trentham,NZ,Soft,7.0,13,Class 1,1.0,Handicap,...,0,0,0,0,0,0,0,0,0,0